.container-back{
    margin-left:-2.9vw;
}
.back-btn{
    display: flex;
    border:0;
    border-radius:10px;
    background:rgb(250, 250, 250);
    padding:4px 8px;
    cursor:pointer;
    outline:0;
}
.arrow-img{
    margin-right:3px;
}