.container-q{
    margin-left:82px;
    margin-top:83px;
    color:white;
}
.quote-txt{
    line-height: 38px;
    width:370px;
}

.quote-img2{
    margin-left:350px;
    margin-top:27px;
}
.quote-txt-writer{
    margin-top:59px;
}