.container-q{
    margin-left:32px;
    margin-top:140px;
    color:white;
}
.quote-txt{
    line-height: 38px;
    width:370px;
}

.quote-img2{
    margin-left:350px;
    margin-top:15px;
}
.quote-txt-writer{
    margin-top:30px;
}