.container-q{
    margin:140px 25px 0;
    position: relative;
}
.quote-txt{
    line-height: 38px;
    max-width:370px;
}
.grid-img{
    position: absolute;
    right:15%;
    top:-40%;
}
.quote-img2{
    margin:15px 0 0 90%;
}
.quote-txt-writer{
    margin-top:30px;
}