.label{
    color:#696F79;
}
.container-btn{
    width:100%;
    max-width:425px;
}
.btn{
    width:100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    margin-top:10px;
    margin-bottom:10px;
    height:8.5vh;
    min-height:40px;
    max-height:68px;
    font-size: 16px;
    cursor: pointer;
}
.btn:hover{
    filter:brightness(80%)
}
.btn:focus{
    outline:0;
}
.icon{
    position: absolute;
    /* width:200px; */
    margin-left:-13vw;
    /* right:1%; */
}
@media only screen and (min-width:820px){
    .icon{
        margin-left:-100px;
    }
}