.label{
    color:#696F79;
    display: block;
}
.txt-field{
    border-radius: 6px;
    margin-top:1px;
    margin-bottom:10px;
    width:100%;
    max-width:425px;
    height:8vh;
    max-height:68px;
    border:1px solid #8692A6;
    padding-left:30px;
}