.container-form{
    margin-left:150px;
    margin-top:20px;
}
.para{
    width:370px;
    font-size: 18px;
    font-weight: lighter;
    color:#8692A6;
    margin-bottom:27px;
}
.head-txt{
    font-size:30px;
}