.container-form{
    margin-left:110px;
    margin-top:10px;
}
.head-txt{
    font-size:30px;
}
.para{
    width:370px;
    font-size: 18px;
    font-weight: lighter;
    color:#8692A6;
    margin-bottom:15px;
}
.or-txt{
    font-size:14px;
    /* margin-top:4px; */
    color:#bababa;
    text-align:center;
}