.container-form{
    margin:0 auto;
    /* max-width: 60vh; */
}
.head-txt{
    text-align:center;
    font-size:30px;
    margin:10px 0;
}
.para{
    font-size: 16px;
    text-align:center;
    font-weight: lighter;
    color:#8692A6;
}
.break-line{
    border: 1px solid #F5F5F5;
    width:100%;
    max-width:425px;
    margin:10px 0;
}
@media only screen and (min-width:820px){
    .head-txt{
        text-align: left; 
    }
    .para{
        max-width:350px;
        text-align: left;
    }
}
