.media-btn-container{
    width:50px;
    height:50px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items:center;
    transition: .4s ease-in-out;
}
.media-btn-container:hover{
    box-shadow: 13px 13px 18px rgba(0, 0, 0, 0.08);
    width:55px;
    height:55px;
    filter: brightness(80%) ;
}
.media-list-container{
    height: 60px;
    margin:0 auto;
    max-width: 300px;
    /* margin-top:15px; */
    display: flex;
    justify-content: space-around;
}