.container-signin{
    margin:0 auto;
    height:100vh;
}
.sign-in-left{
    /* width: 100px; */
    /* margin:10px 0 0 10px; */
    /* margin:14px ; */
}
.ps-image{
    position: relative;
    bottom:100px;
    right:-55%;
    width:40%;
}
@media only screen and (min-width:820px){
    .container-signin{
        display: flex;
    }
}