@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.container-signup{
    display: flex;
    /* justify-content: center; */
    width:100%;
    max-width: 1440px;
}
.left{
    height:100vh;
    padding: 45px;
    background-color: #1565D8;
    width:45%;
}
.right{
    padding: 10px 30px;
}
